{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">

        <h1 class="display-1 text-center">Django Project</h1>

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi iusto vel aperiam quibusdam tenetur minima
            ipsa accusantium molestiae, exercitationem veniam molestias praesentium perspiciatis distinctio aliquid
            animi eum perferendis natus aut?</p>

        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-primary" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>



{% endblock %}